.main_container{
  width: 100%;
  background-color: rgb(240, 240, 240);
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-top: 25vh;
  padding-bottom: 25vh;
}
.main_text{
  text-align: center;
  font-size: 3rem;
}
.main_badg{
  width: 100%;
  background-color: rgb(79, 79, 93);
  color: white;

}
.main_badg_text{
  padding-top: 25vh;
  padding-bottom: 25vh;
  text-align: center;
  margin: -1rem;
  font-size: 3rem;
}
.mainbtn{
  width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: greenyellow;
  font-size: 3rem;
}